<html>
    <form action="/insertType" method = "POST">
        <label for="fname">Tên hàng mới:</label>
        <input type="text" id="type" name="type"><br><br>
        <input type="submit" value="Submit">
    </form>      
</html>