<html>
    <head>
        <meta charset="UTF-8">
        <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
        <link rel="stylesheet" href="style.css">
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="login-form" >
    
            <form action="/login" method = "POST" class="content">
                <label for="fname" >Enter your key:</label><br><br>
                <input type="text" id="key" name="key"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>  
    </body>
</html>